<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <meta charset="UTF-8">
  <title>Galvanize Reads - Books</title>
</head>
<body>
  <div class="container-fluid">
    <div class='header'>
        <h1><img class='logo' <img src="/images/galvanize-logo.png" alt="heart-eye" style="width:100px;height:100px;"> <a href="/">Galvanize Reads</a></h1>
    </div><!-- end div header -->
              
        <form id='new-form' action="/authors/<%= author.id %>?_method=PUT" method="POST">
              <br>
              <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" value="<%= author.first_name%>"class="form-control" id="first_name" placeholder="First Name">
              </div>
              <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" value="<%= author.last_name%>"  class="form-control" id="last_name" placeholder="Last Name">
              </div>
              <div class="form-group">
                  <label for="portrait_url">Portrait URL</label>
                  <input type="text" type="text" name="portrait_url" value="<%= author.portrait_url%>" class="form-control" id="portrait_url" placeholder="Portrait URL">
              </div>
              <div class="form-group">
                  <label for="biography">Biography</label>
                  <input type="text" type="text" name="biography" value="<%= author.biography%>" class="form-control" id="biography" placeholder="Biography">
              </div>
              <div class="form-group">
                  <label for="book">Book One</label>
                  <input type="text" type="text" name="title" value="" class="form-control" id="" placeholder="Book One Title">
              </div>
              <div class="form-group">
                  <label for="book">Book Two</label>
                  <input type="text" type="text" name="title" class="form-control" id="" placeholder="Book Two Title">
              </div>
              <button type="submit" name="button" class="btn btn-default" id='signup-btn'>Edit Author</button>
          </form>
          <br>
            
    </div><!-- end div fluid -->
</body>
</html>